html {
  line-height: 1.5;
  font-size: 20px;
}

body {
  margin: 0 auto;
  padding: 0;
}
body main {
  margin: 0 auto;
  max-width: 40em;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  hyphens: auto;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}

header nav {
  background-color: #24252a;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* padding: 1rem 1rem 1rem 3rem; */
  /* max-height: 80px; */
}

header li,
header a {
  font-weight: 500;
  font-size: 22px;
  color: #edf0f1;
  text-decoration: none;
}

header ul {
  list-style: none;
}

header ul li {
  display: inline-block;
  padding: 0 20px;
}

header ul li a {
  transition: all 0.3s ease 0s;
}

header ul li a:hover {
  color: rgb(0, 136, 169);
}

@media (min-width: 1068px) {
  article a:before {
    transform-origin: right;
    width: calc(100% + 25px);
  }

  article a {
    position: relative;
    text-decoration: none;
    z-index: 2;
    transition: 0.2s ease-in-out;
  }

  article a:hover:before {
    transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform-origin: left;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200%25' height='100%25'%3E%3Cdefs%3E%3Cstyle%3E .wave%7B animation:wave 1s ease-in-out infinite alternate; animation-delay:-0.25s; stroke:teal; stroke-width:2; stroke-linecap:square; %7D @keyframes wave%7B to%7B d:path('M 0 40 Q 20 42.5 40 40 Q 60 37.5 80 40'); %7D %7D %3C/style%3E%3C/defs%3E%3Cpattern id='wavePattern' x='0' y='0' width='80' height='80' patternUnits='userSpaceOnUse'%3E%3Cpath fill='none' class='wave' d='M 0 40 Q 20 37.5 40 40 Q 60 42.5 80 40' /%3E%3C/pattern%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='url(%23wavePattern)'%3E%3C/rect%3E%3C/svg%3E")
      0px 50%/80px 80px repeat-x;
    -webkit-animation: waving 3s linear infinite;
    animation: waving 3s linear infinite;
    transform: scaleX(1);
  }

  article a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0;
    bottom: -42px;
    z-index: -1;
    transform: scaleX(0);
    transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
    transform-origin: right;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200%25' height='100%25'%3E%3Cdefs%3E%3Cstyle%3E .wave%7B stroke:teal; stroke-width:2; stroke-linecap:square; %7D %3C/style%3E%3C/defs%3E%3Cpattern id='wavePattern' x='0' y='0' width='80' height='80' patternUnits='userSpaceOnUse'%3E%3Cpath fill='none' class='wave' d='M 0 40 Q 20 40 40 40 Q 60 40 80 40' /%3E%3C/pattern%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='url(%23wavePattern)'%3E%3C/rect%3E%3C/svg%3E")
      0px 50%/80px 80px repeat-x;
  }

  @-webkit-keyframes waving {
    to {
      background-position: 80px 50%, 160px 50%;
    }
  }

  @keyframes waving {
    to {
      background-position: 80px 50%, 160px 50%;
    }
  }
}

@media (max-width: 600px) {
  body {
    font-size: 0.9em;
  }
}

p {
  margin: 1em 0;
}

a {
  text-decoration: none;
  color: rgb(1, 146, 183);
}

img {
  max-width: 100%;
}

h1 {
  color: #67b821;
}
h1,
h2,
h3,
h4 {
  margin-top: 1.4em;
}

ol,
ul {
  padding-left: 1.7em;
  margin-top: 1em;
}

li > ol,
li > ul {
  margin-top: 0;
}

table {
  margin: 1em auto;
  border-collapse: collapse;
  font-variant-numeric: lining-nums tabular-nums;
}

table caption {
  margin-bottom: 0.75em;
}

tbody {
  margin-top: 0.5em;
  border-top: 1px solid #1a1a1a;
  border-bottom: 1px solid #1a1a1a;
}

th {
  border-top: 1px solid #1a1a1a;
  padding: 0.25em 0.5em 0.25em 0.5em;
}

td {
  padding: 0.125em 0.5em 0.25em 0.5em;
}

details:hover {
  cursor: pointer;
}

#TOC li {
  list-style: none;
}

.display.math {
  display: block;
  text-align: center;
  margin: 0.5rem auto;
  background-color: #ededf7;
  margin: 0;
}

span.math {
  margin: 0;
}

#two-cols {
  display: flex;
}

#two-cols img {
  height: 200px;
  object-fit: contain;
}

figcaption {
  color: #a2a2e9;
}

#small-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: white;
  display: flex;
  overflow: auto;
  transition: transform 350ms linear;
}

@media (min-width: 420px) {
  #small-nav {
    display: none;
  }

  h1 {
    margin-top: 0;
  }
}

@media (max-width: 420px) {
  #big-nav {
    display: none;
  }
}
#small-nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  min-width: 0.2rem;
  overflow: hidden;
  white-space: nowrap;
  font-size: 13px;
  color: #444444;
  text-decoration: none;
  transition: background-color 100ms ease-in-out;
}

#small-nav img {
  width: 35px;
  height: auto;
}

@media (min-width: 480px) {
  #small-nav nav {
    height: 70px;
  }
  #small-nav img {
    width: 45px;
  }

  #small-nav span {
    font-size: 1rem;
  }
}

@media (min-width: 868px) {
  #small-nav nav {
    height: 80px;
  }

  #small-nav span {
    font-size: 1.2rem;
  }

  #small-nav img {
    width: 50px;
  }
}
